body{
background-image: linear-gradient(aquamarine, teal);
background-repeat: no-repeat;
min-height:100vh;
}

body, h1, p {
    font-size: 3rem;
    text-align: center;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

/* Center the content */
div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    padding:0.2em;
    margin:0.2em;
}
#restartgame{
    display: none;
}

button{
    font-size: 1.2rem;
    padding: 0.4rem;
    border-radius: 1.4rem;
}